@import url('../../shared/css/style.css');
@import url('../../shared/css/variables.css');

.inner-main {
    padding-top: 90px;
}

.inner-breadcumb {
    color: white;
    background-color: #d7d7d7a1;
}

.inner-breadcumb ul li a {
    font-size: 14px;
    font-weight: 400;
}

.section-1 {

    .inner-top {
        padding-bottom: 20px;

        .inner-title {
            font-size: 60px;
            font-weight: 700;
            color: var(--color-secondary);
            font-family: var(--font-title);
            margin-bottom: 10px;
        }

        .inner-desc {
            font-size: 16px;
            font-weight: 400;
            color: var(--color-secondary);
            margin-bottom: 20px;
            opacity: 0.8;
        }
    }

    .inner-middle {
        border-bottom: 1px dashed var(--color-secondary);

        .inner-location {
            display: flex;
            margin-bottom: 20px;
            gap: 30px;

            i {
                font-size: 40px;
                color: var(--color-primary);
            }

            .inner-desc {

                h3 {
                    font-size: 20px;
                    font-family: var(--font-title);
                    color: var(--color-secondary);
                    font-weight: 700;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--color-secondary);
                    margin-top: 10px;
                }
            }
        }

        .inner-phone {
            display: flex;
            margin-bottom: 20px;
            gap: 30px;

            i {
                font-size: 40px;
                color: var(--color-primary);
            }

            .inner-desc {

                h3 {

                    a {
                        color: var(--color-secondary);
                        text-decoration: none;
                        transition: 0.3s;
                        font-size: 20px;
                        font-weight: 700;
                        font-family: var(--font-title);

                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--color-secondary);
                    margin-top: 10px;
                }
            }
        }

        .inner-email {
            display: flex;
            margin-bottom: 20px;
            gap: 30px;

            i {
                font-size: 40px;
                color: var(--color-primary);
            }

            .inner-desc {

                h3 {

                    a {
                        color: var(--color-secondary);
                        text-decoration: none;
                        transition: 0.3s;
                        font-size: 24px;
                        font-weight: 700;
                        font-family: var(--font-title);

                        &:hover {
                            color: var(--color-primary);
                        }

                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--color-secondary);
                    margin-top: 10px;
                }
            }
        }
    }

    .inner-bottom {
        .inner-title {
            font-size: 60px;
            font-weight: 700;
            color: var(--color-secondary);
            font-family: var(--font-title);
            margin-bottom: 10px;
        }

        .inner-form-contact {
            padding: 30px 0;

            .inner-form-group {

                input {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 20px;
                    border: 1px solid var(--color-secondary);
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--color-secondary);
                    background-color: transparent;
                    transition: 0.3s;
                    outline: none;

                    &:focus {
                        border-color: var(--color-primary);
                    }
                }

                textarea {
                    width: 100%;
                    height: 200px;
                    padding: 10px;
                    margin-bottom: 20px;
                    border: 1px solid var(--color-secondary);
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--color-secondary);
                    background-color: transparent;
                    transition: 0.3s;
                    outline: none;

                    &:focus {
                        border-color: var(--color-primary);
                    }
                }
            }

            .inner-button {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 700;
                color: white;
                background-color: var(--color-primary);
                cursor: pointer;
                transition: 0.3s;
                float: inline-end;

                &:hover {
                    background-color: var(--color-button-hover);
                    transform: scale(1.1);
                }

                &:active {
                    background-color: var(--color-button);
                    transform: scale(1);
                }
            }
        }
    }
}