@import url('../../shared/css/style.css');
@import url('../../shared/css/variables.css');

.inner-main {
    padding-top: 90px;
}

.inner-breadcumb {
    color: white;
    background-color: #d7d7d7a1;
}

.inner-breadcumb ul li a {
    font-size: 14px;
    font-weight: 400;
}