* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

/* Độ rộng thanh cuộn */
::-webkit-scrollbar {
    width: 8px;
}

/* Màu nền của thanh cuộn */
::-webkit-scrollbar-track {
    background: var(--color-menu);
    border-radius: 10px;
}

/* Màu và hình dạng của thanh trượt */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}

/* Hover vào thanh trượt */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-button-hover);
}

body {
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
}

/* Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid var(--color-secondary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* end loading screen */

/* header */
.inner-header {
    background-color: var(--color-menu);
    position: sticky;
    top: 0;
    z-index: 999;

    .inner-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .inner-logo {
            height: 90px;
            width: 165px;

            a {
                display: block;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .inner-menu {
            ul {
                list-style: none;
                display: inline-flex;
                align-items: center;
                gap: 24px;
                padding: 0;
                margin: 0;

                li {
                    a {
                        padding: 30px 15px;
                        color: white;
                        transition: all 0.3s ease-in-out;
                        text-transform: capitalize;
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 500;

                        &:hover {
                            color: var(--color-primary);
                            transform: translateY(-5px);
                        }
                    }
                }
            }
        }

        .inner-action {
            display: inline-flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;

            .inner-search {
                padding: 30px 10px;
                position: relative;
                color: white;

                i {
                    font-size: 20px;
                }

                &:hover {
                    color: var(--color-primary);
                }

                .inner-search-box {
                    width: 450px;
                    max-height: 410px;
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background-color: white;
                    padding: 10px;
                    border-radius: 10px;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
                    cursor: auto;

                    .inner-title {
                        font-family: var(--font-title);
                        font-weight: 400;
                        font-size: 26px;
                        margin-bottom: 10px;
                        color: var(--color-secondary);
                        border-bottom: 1px solid #ebebeb;
                        text-align: start;
                    }

                    .inner-form-search {
                        display: flex;
                        gap: 10px;
                        margin-bottom: 20px;

                        input {
                            flex: 1;
                            padding: 10px;
                            border: 1px solid var(--color-secondary);
                            border-radius: 5px;
                            font-family: var(--font-main);
                            font-weight: 400;
                            font-size: 16px;
                            background-color: transparent;
                            color: black;
                            outline: var(--color-primary);
                        }

                        .inner-search-button {
                            padding: 10px 20px;
                            border: none;
                            background-color: var(--color-primary);
                            color: white;
                            font-family: var(--font-main);
                            font-weight: 500;
                            font-size: 16px;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: background-color 0.3s;

                            &:hover {
                                background-color: var(--color-button-hover);

                                i {
                                    color: white;
                                }
                            }
                        }
                    }

                    .inner-search-result {
                        border: 1px solid #ebebeb;
                        padding: 10px;
                        display: none;

                        .inner-title {
                            font-family: var(--font-title);
                            font-weight: 400;
                            font-size: 20px;
                            margin-bottom: 20px;
                            padding-bottom: 10px;
                            color: var(--background-color-button);
                            text-align: start;
                        }

                        .inner-list-result {

                            .inner-item {
                                display: flex;
                                gap: 20px;
                                align-items: center;
                                padding: 10px;
                                border-bottom: 1px solid #ebebeb;

                                .inner-image {
                                    width: 60px;
                                    height: 60px;

                                    a {
                                        display: block;
                                        width: 100%;
                                        height: 100%;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }

                                .inner-text {
                                    text-align: start;

                                    .inner-name {
                                        a {
                                            font-size: 14px;
                                            font-weight: 400;
                                            margin-bottom: 5px;
                                            color: black;

                                            &:hover {
                                                color: var(--background-color-button);
                                            }
                                        }
                                    }

                                    .inner-price {
                                        font-family: var(--font-text);
                                        font-weight: 400;
                                        font-size: 14px;
                                        color: red;
                                        margin-bottom: 5px;
                                        text-align: start;
                                    }
                                }
                            }
                        }

                        .inner-extra {
                            color: black;
                            display: block;
                            text-align: center;
                            font-size: 14px;
                            font-weight: 400;
                            margin-top: 5px;
                        }
                    }

                    @media screen and (max-width: 575.98px) {
                        width: 360px;
                        right: -80px;
                    }
                }

                &:hover .inner-search-box {
                    display: block;
                }
            }

            .inner-cart {
                padding: 30px 10px;
                position: relative;
                color: white;

                i {
                    font-size: 20px;
                }

                &:hover {
                    color: var(--color-primary);
                }

                .inner-quantity-total {
                    position: absolute;
                    top: 9px;
                    right: -6px;
                    background-color: var(--color-primary);
                    color: white;
                    font-family: var(--font-main);
                    font-weight: 400;
                    font-size: 12px;
                    padding: 5px 8px;
                    border-radius: 50%;
                }

                .inner-cart-box {
                    width: 400px;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
                    cursor: auto;
                    display: none;

                    .inner-list-product {
                        max-height: 360px;
                        overflow-y: auto;
                        padding: 15px;

                        .inner-item {
                            margin-bottom: 15px;
                            padding-bottom: 15px;
                            width: 100%;
                            border-bottom: solid 1px #ebebeb;
                            display: flex;
                            gap: 10px;

                            .inner-image {
                                width: 60px;
                                height: 60px;

                                a {
                                    display: block;
                                    width: 100%;
                                    height: 100%;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }

                            .inner-text {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                flex: 1;

                                .inner-name {
                                    text-align: start;
                                    margin: 0;
                                    line-height: 1;

                                    a {
                                        font-family: var(--font-text);
                                        font-weight: 700;
                                        font-size: 14px;
                                        color: black;

                                        &:hover {
                                            color: var(--color-primary);
                                        }
                                    }
                                }

                                .inner-quantity {
                                    font-family: var(--font-text);
                                    font-weight: 400;
                                    font-size: 12px;
                                    color: black;
                                    text-align: start;
                                    margin: 0;
                                    padding: 0;
                                }
                            }

                            .inner-action {
                                display: flex;
                                flex-direction: column;
                                padding: 15px;

                                .inner-price {
                                    font-family: var(--font-main);
                                    font-weight: 700;
                                    font-size: 14px;
                                    color: var(--color-primary);
                                    text-align: end;
                                    padding: 0;
                                    margin: 0;
                                }

                                .inner-remove {
                                    font-family: var(--font-text);
                                    font-weight: 400;
                                    font-size: 16px;
                                    color: var(--color-primary);
                                    text-align: end;
                                    cursor: pointer;

                                    &:hover {
                                        color: var(--color-button-hover);
                                    }
                                }
                            }
                        }
                    }

                    .inner-total {
                        p {
                            display: flex;
                            justify-content: space-between;
                            font-family: var(--font-main);
                            font-weight: 700;
                            font-size: 16px;
                            color: var(--color-primary);
                            padding: 15px;
                        }

                        .inner-button {
                            padding: 15px;

                            .inner-button-checkout {
                                display: flex;
                                justify-content: center;
                                padding: 10px;
                                background-color: var(--color-primary);
                                color: white;
                                font-family: var(--font-main);
                                font-weight: 500;
                                font-size: 16px;
                                border-radius: 5px;
                                cursor: pointer;
                                transition: background-color 0.3s;
                                transition: all 0.3s ease-in-out;

                                &:hover {
                                    background-color: var(--color-button-hover);
                                }

                                &:active {
                                    transform: scale(0.95);
                                    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
                                }
                            }
                        }
                    }
                }

                &:hover .inner-cart-box {
                    display: block;
                }
            }

            .inner-user {
                padding: 30px 10px;
                position: relative;
                color: white;

                i {
                    font-size: 20px;
                }

                &:hover {
                    color: var(--color-primary);
                }

                .inner-dropdown-user {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background-color: white;
                    border-radius: 8px;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                    width: 200px;
                    display: none;

                    a {
                        display: block;
                        padding: 10px 20px;
                        color: var(--color-secondary);
                        font-size: 16px;
                        font-weight: 500;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }

                &:hover .inner-dropdown-user {
                    display: block;
                }
            }

            .inner-order {
                padding: 10px 20px;
                border: none;
                background-color: var(--color-primary);
                color: white;
                font-weight: 600;
                border-radius: 8px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                transition: all 0.2s ease-in-out;
                /* Hiệu ứng mượt */

                &:hover {
                    background-color: var(--color-button-hover);
                }

                &:active {
                    transform: scale(0.95);
                    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
                }
            }

        }
    }
}

/* end header */

/* main */
.inner-main {
    margin-top: -90px;
}

/* end main */

/* footer */
.inner-footer {
    padding: 40px 0;
    background-image: url('../../assets/images/background/footer-bgs.jpg');
    background-size: cover;

    .inner-title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 30px;
        color: var(--color-secondary);
        font-weight: 600;
        text-transform: uppercase;
        font-family: var(--font-main);
    }

    .inner-sub-title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 36px;
        color: var(--color-secondary);
        font-weight: 400;
        font-family: var(--font-title);
    }

    .inner-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }

    .inner-button {
        padding: 15px 20px;
        margin: 20px 0;
        text-align: center;

        a {
            color: white;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            background-color: var(--color-primary);
            padding: 15px 30px;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: var(--color-button-hover);
            }

            &:active {
                transform: scale(0.95);
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .inner-menu-footer {
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 10px 0;
            margin: 0;

            li {
                a {
                    color: var(--color-secondary);
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: capitalize;
                    transition: all 0.3s ease-in-out;
                    display: inline-block;

                    &:hover {
                        color: var(--color-primary);
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}

/* end footer */

/* copy right */
.inner-copy-right {
    background-color: #ebebeb;
    padding: 30px 0;
    text-align: center;
    color: var(--color-menu);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;

    p {
        margin: 0;
    }

    .inner-scroller {
        color: #fff;
        background-color: #664d42;
        border-radius: 50%;
        display: inline-block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        font-size: 30px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border: 2px solid #fff;
        position: absolute;
        top: 0;
        left: 49%;
        cursor: pointer;

        &:hover {
            background-color: var(--color-button-hover);
        }

        i {
            font-size: 20px;
            color: white;
        }
    }
}

/* end copy right */

/* shared classes */
.inner-header .inner-menu ul li a.active {
    color: var(--color-primary);
}

/* end shared classes */

/* modal-form order */
.modal {

    .modal-header {
        .modal-title {
            font-family: var(--font-title);
            font-weight: 700;
            font-size: 36px !important;
            color: var(--color-secondary);
            text-align: start;
        }
    }

    .modal-body {

        .inner-content {
            padding-right: 20px;

            .inner-title {
                font-size: 40px;
                font-family: var(--font-title);
                color: var(--color-secondary);
                text-align: center;
                margin-bottom: 40px;
                padding-top: 20px;
            }

            .inner-form {
                text-align: start;

                .inner-form-group {
                    margin-bottom: 15px;

                    label {
                        font-size: 20px;
                        font-family: var(--font-main);
                        color: var(--color-secondary);
                        display: block;
                        margin-bottom: 5px;
                    }

                    input {
                        width: 100%;
                        padding: 10px;
                        font-size: 16px;
                        font-family: var(--font-main);
                        border: 1px solid #b9a39a;
                        border-radius: 8px;
                        outline: none;
                    }

                    textarea {
                        width: 100%;
                        height: 100px;
                        padding: 10px;
                        font-size: 16px;
                        font-family: var(--font-main);
                        border: 1px solid #b9a39a;
                        border-radius: 8px;
                        outline: none;
                    }
                }

                .row {
                    label {
                        font-size: 20px;
                        font-family: var(--font-main);
                        color: var(--color-secondary);
                        display: block;
                        margin-bottom: 5px;
                    }

                    input {
                        width: 100%;
                        padding: 10px;
                        font-size: 16px;
                        font-family: var(--font-main);
                        border: 1px solid #b9a39a;
                        border-radius: 8px;
                        outline: none;
                    }
                }
            }
        }
    }

    .modal-footer {
        button {
            padding: 6px 12px;
            border: none;
        }

        .button-close {
            background-color: var(--color-secondary);
            color: white;
            border-radius: 8px;
            transition: all 0.3s ease-in-out;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background-color: var(--color-button-hover);
            }

            &:active {
                transform: scale(0.9);
            }
        }

        .inner-button {
            background-color: var(--color-primary);
            padding: 6px 12px;
            border: none;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            text-align: center;
            cursor: pointer;
            color: white;
            float: right;
            border-radius: 8px;

            &:hover {
                background-color: var(--color-button-hover);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }
}

/* end modal-form order */

/* popup */
.section-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;

    .inner-popup-content {
        width: 50%;
        background-color: white;
        border-radius: 8px;
        position: relative;
        overflow: hidden;

        .inner-popup-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 20px;
            margin-bottom: 20px;
            background-color: var(--color-secondary);
            color: white;

            h2 {
                font-size: 32px;
                font-weight: 700;
                font-family: var(--font-title);
            }

            .inner-popup-close {
                font-size: 20px;
                font-weight: 700;
                cursor: pointer;
                border: none;
                background-color: transparent;
                color: white;

                &:hover {
                    color: var(--color-primary);
                }
            }
        }

        .inner-popup-body {
            padding: 20px;

            p {
                font-size: 16px;
                font-weight: 400;
                margin: 0;
            }

            .inner-info {
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 10px;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;

                p span {
                    color: var(--background-color-button);
                    margin: 0;
                }
            }

            .inner-action {
                display: flex;
                justify-content: center;
                align-items: center;

                .inner-button {
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: white;
                    background-color: var(--color-button);
                    border: none;
                    border-radius: 8px;
                    padding: 5px 20px;
                    box-shadow: 0 3px #a37b44;

                    &:hover {
                        background-color: var(--color-button-hover);
                    }

                    &:active {
                        transform: translateY(3px);
                        box-shadow: none;
                    }
                }
            }
        }

    }
}

/* end popup */